<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Testing Site</title>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="vue-one-app">
    <input type="text" placeholder="firstname..." v-model="firstname">
    <input type="text" placeholder="lastname..." v-model="lastname">
    <p>{{ fullname }}</p>
    <p>{{ print }}</p>
  </div>

  <div id="vue-two-app">
    <p>{{ print }}</p>
    <button @click="changeData">Click me!</button>
  </div>

  <script src="app.js"></script>
</body>
</html>